.footer {
  background-color: $gray-darker;
  .social-icons {
    margin-bottom: 30px;
  }
}

.footer-container {
  padding: 80px 0;
}

.footer .link {
  padding: 15px 30px;
  font-size: 25px;
  color: $gray-dark;
  &:hover {
    color: $gray-lighter;
    text-decoration: none;
  }
}


