<div class="container team-container text-center">
  <ul class="list-inline text-center">
    <% ["louis", "romain"].each do |member| %>
      <li>
        <%= image_tag "#{member}.png", class: "img-circle avatar-large" %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>
  <%= link_to "Contact us", "mailto:louis.robert@gadz.org", class:"btn btn-primary contact-us-btn" %>
</div>
